<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contactos</title>
<style type="text/css">
	body{font-family:Arial, Helvetica, sans-serif; font-size:12px;}
</style>
</head>
<body>
	<table border="0" width="700" cellpadding="5" cellspacing="5" align="center">
		<tr>
			<td align="center" colspan="2">
				<img src="{$imagen}" alt="Farmacia Catedral" id="logo" data-height-percentage="80" data-actual-width="200" data-actual-height="120">
			</td>
		</tr>
		<tr>
			<td bgcolor="#004094" style="color:#fff;" colspan="2"><h2>{$subject}</h2></td>
		</tr>

		<tr>
			<td width="155" align="right"><strong>Nombre:</strong></td>
			<td width="625">{$contacto_nombre}</td>
		</tr>
		<tr>
			<td width="155" align="right"><strong>CI:</strong></td>
			<td width="625">{$contacto_documento}</td>
		</tr>
		<tr>
			<td width="155" align="right"><strong>Tel:</strong></td>
			<td width="625">{$contacto_telefono}</td>
		</tr>
		<tr>
			<td width="155" align="right"><strong>Email:</strong></td>
			<td width="625">{$contacto_email}</td>
		</tr>
		<tr>
			<td width="155" align="right"><strong>Asunto:</strong></td>
			<td width="625">{$contacto_asunto}</td>
		</tr>
		<tr>
			<td width="155" align="right"><strong>Mensaje:</strong></td>
			<td width="625">{$contacto_mensaje}</td>
		</tr>
	</table>
</body>
</html>