<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pedido</title>
<style type="text/css">
	body{font-family:Arial, Helvetica, sans-serif; font-size:12px;}
	.btncomp {
		background: #0f3b84;
	    padding: 15px 40px;
	    text-decoration: none;
	    color: #fff;
	    font-size: 17px;
	}
</style>
</head>
<body>
	<table border="0" width="700" cellpadding="5" cellspacing="5" align="center">
				<tr>
					<td align="center" colspan="2">
						<img src="{$imagen}" alt="Farmacia Catedral" id="logo" data-height-percentage="80" data-actual-width="200" data-actual-height="120">
					</td>
				</tr>
				<tr>
					<td align="center" bgcolor="#004094" style="color:#fff;" colspan="2">
						<p style="font-size: 17px; margin: 10px;">¿RESTABLECER TU CONTRASEÑA?</p>
					</td>
				</tr>

		
				<tr>
					<td colspan="2">
						<p style="font-size:17px; color:#000; text-align:justify;">Si solicitaste un restablecimiento de contraseña, haz clic en el botón que aparece a continuación. Si no lo solicitaste, ignora este correo electrónico.</p>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2">
						<a href="{$tokenId}" class="btncomp">Restablecer Contraseña</a>
					</td>
				</tr>
	
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
</body>
</html>
